body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
/*header*/
.header{
    background:#f8e296;
    height: 300px;
    width: 83.393242272%;
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 60px 60px 60px;
    margin-top: 40px;
}
.header__user-menu{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
}
.user-menu{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    font-family: Gilroy ExtraBold;
    text-transform: uppercase;
    font-size: 18px;
}
.header__search{
    background: rgb(248, 226, 150);
    border: none;
    width: 125px;
}
.header__user-menu-item--search:before{
    display: inline-block;
    content: ' ';
    background-image: url(../img/svg/search.svg);
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-right: 20px;
}
.header__user-link--login:before{
    display: inline-block;
    content: ' ';
    background-image: url(../img/svg/user.svg);
    background-size: 12px 13px;
    height: 12px;
    width: 13px;
    margin-right: 20px;
}
.header__user-link--compare:before{
    display: inline-block;
    content: ' ';
    background-image: url(../img/svg/compare.svg);
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    margin-right: 20px;
}
.header__user-link--basket:before{
    display: inline-block;
    content: ' ';
    background-image: url(../img/svg/cart.svg);
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 20px;
}
.menu__link--catalog::after{
    display: inline-block;
    content: ' ';
    background-image: url(../img/svg/plus.svg);
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-left: 16px;
    opacity: 0.3;
}
.menu__dropdown{
    display: none;
}
.header__logo{
    padding: 0 0 36px 0;
    margin-top: -28px
}
.page-logo{
    font-family: Gilroy ExtraBold;
    text-transform: uppercase;
    font-size: 48px;
}
.footer__user-menu li{
    color: white;
}
.visually-hidden{
    display: none;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    width: 83.393242272%;
    max-width: 1160px;
}
/*info*/
.info{
    display: flex;
    background: #fff;
}

.info__title{
    font-family: Gilroy ExtraBold;
    font-size: 47px;
}
.info__text{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 35px; 
}
.info__list{
    font-family: Gilroy ExtraBold;
}
.info__item{
    list-style-type: circle;
}
.info__about{
    min-width: 50%;
}

.info__contact{
    min-width: 50%;
}

.btn{
    font-family: Gilroy ExtraBold;
    font-size: 18px;
}

/*footer*/
.footer{
    margin-top: 100px;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.footer__user-menu{
    display: flex;
}
.footer__logo-link{
    color:  #ffc600; 
}
.footer__info-block{
    display: flex;
}
.footer__socials{
    display: flex;
}