@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('font/Gilroylight.woff2') format('woff2'), url('font/Gilroylight.woff') format('woff'), url('font/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('font/Gilroyextrabold.woff2') format('woff2'), url('font/Gilroyextrabold.woff') format('woff'), url('font/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {

  font-family: 'Open Sans';
  src: local('Open Sans'), local('Open Sans'), url('font/opensans.woff2') format('woff2'), url('font/opensans.woff') format('woff'), url('font/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {

  font-family: 'Open Sans';
  src: local('Open Sans'), local('Open Sans'), url('font/opensanslight.woff2') format('woff2'), url('font/opensanslight.woff') format('woff'), url('font/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Open Sans,  Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
  ;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.visually-hidden {
  display: none !important;
}

/*header*/
.header {
  background: #f8e296;
  height: 300px;
  width: 83.393242272%;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 60px 60px 60px;
  margin-top: 40px;
  box-sizing: border-box;
}

.header__logo {
  padding: 0 0 36px 0;
  margin-top: -13px;
  letter-spacing: 0.26px;
}

.page-logo {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 0.26px;
}

.header__user-menu {
  display: flex;
  justify-content: space-between;
}

.header__user-menu-item {
  color: #000000;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-weight: 600;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 50px;
}

.header__search {
  background: rgb(248, 226, 150);
  border: none;
  width: 125px;
}

.header__user-menu-item--search:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/search.svg);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

.header__user-sign-in {
  flex-grow: 5;
}

.header__user-compare {
  flex-grow: 1;
}

.header__user-link--login:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/user.svg);
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-right: 20px;
}

.header__user-link--compare:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/compare.svg);
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

.header__user-link--basket:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/cart.svg);
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin-right: 20px;
}

.menu__link--catalog::after {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/plus.svg);
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin-left: 16px;
  opacity: 0.3;
}

.menu__dropdown {
  display: none;
}

.menu__item--catalog {
  flex-grow: 12;
}

.menu__item--delivery {
  flex-grow: 1;
}

.menu__item--garantee {
  flex-grow: 5;
}

.header__user-menu-item--search {
  flex-grow: 12;
}

.header__logo--hover:hover {
  opacity: 0.6;
}

.header__logo--hover:active {
  opacity: 0.3;
}

.header__user-menu-item:hover {
  opacity: 0.6;
}

.header__user-menu-item:active {
  opacity: 0.3;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__dropdown-link:hover {
  opacity: 0.6;
}

.menu__dropdown-link:active {
  opacity: 0.3;
}

.btn:active {
  opacity: 0.3;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.1;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.catalog__img:hover {
  opacity: 0.7;
}

.footer__logo-link:hover {
  opacity: 0.6;
}

.footer__logo-link:active {
  opacity: 0.3;
}

.footer__user-link:hover {
  opacity: 0.6;
}

.footer__user-link:active {
  opacity: 0.3;
}

.footer__info-link:hover {
  opacity: 0.6;
}

.footer__info-link:active {
  opacity: 0.3;
}

.socials-link--academy:hover {
  opacity: 0.6;
}

.socials-link--academy:active {
  opacity: 0.3;
}

/*main*/
.main-index {
  display: flex;
  flex-direction: column;
  width: 83.393242272%;
  max-width: 1160px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

/*slider*/
.slider {
  display: flex;
}

.slider__item {
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
}

.slider__title {
  font-size: 47px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.17px;
  line-height: 56px;
  width: 391px;
}

.slider__text {
  padding-bottom: 60px;
}

.slider__content {
  display: flex;
  flex-direction: column;
  flex-basis: 460px;
  margin-left: 125px;
}

.slider__table {
  padding-top: 70px;
}

.slider__tr--first {
  font-size: 36px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
  line-height: 48px;
}

.slider__tr--second {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/*categories*/
.category__list {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.18px;
}

/*services*/

.services__title {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.21px;
}

/*info*/
.info {
  display: flex;
  background: #fff;
}

.info__title {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-size: 47px;
}

.info__text {
  padding-bottom: 35px;
}

.info__list {
  line-height: 40px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-weight: 600;
}

.info__item {
  list-style-type: circle;
}

.info__about {
  min-width: 50%;
  padding-right: 63px
}

.info__contact {
  min-width: 50%;
  padding-left: 63px;
}

.btn {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

/*footer*/
.footer {
  background-color: #464646;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 323px;
  padding-top: 65px;
  box-sizing: border-box;
}

.footer__user-menu {
  display: flex;
}

.footer__user-menu-item {
  padding-right: 44px;
}

.footer__user-link {
  color: #fff;
}

.footer__user-menu-item--search {
  flex-grow: 10;
}

.footer__logo-link {
  color: #ffc600;
}

.user-link--login:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/user1.svg);
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-right: 20px;
}

.user-link--compare:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/compare1.svg);
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

.user-link--basket:before {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/cart1.svg);
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin-right: 20px;
}

.footer__info-block {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.footer__info-address,
.footer__info-linktel {
  color: #fff;
}

.footer__info-link {
  color: #fff;
  font-size: 18px;
}

.footer__info-list {
  display: flex;
  padding: 0;
  flex-basis: 423px;
  justify-content: space-around;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.socials-item--instagram {
  padding: 0 22px;
}

.social-item--academy {
  position: absolute;
  right: 40px;
}

/*catalog main*/

.main__title {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.17px;
  margin-left: 200px;
  width: 83.393242272%;
  max-width: 1160px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  padding: 0;
  margin-left: 230px;
}

.nav__link {
  opacity: 0.3;
}

.nav__item--arrow::after {
  display: inline-block;
  content: ' ';
  background-image: url(../img/svg/nav-arrow.svg);
  background-size: 4px 7px;
  width: 4px;
  height: 7px;
  margin: 0 10px;
}

/*filter*/
.main-catalog {
  width: 100%;
}

.sort {
  display: flex;
  background: #efefef;
  display: flex;
  align-items: center;
  padding-left: 72px;
}

.page-wrapper {
  display: flex;
}

.filter__title {
  background: #dbdbdb;
  margin: 0;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort {
  height: 70px;
}

.sort__title {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.sort__list {
  display: flex;
}

.sort__link {
  margin-right: 30px;
  opacity: 0.3;
}

.filter {
  width: 41%;
  max-width: 468px;
  background: #efefef;
}

.filter__name {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 69px 72px;
  justify-content: center;
}

.catalog__item {
  padding-right: 40px;
  padding-bottom: 126px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 360px;
  justify-content: space-between;
}

.catalog__title {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.18px;
  width: 280px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  background: #ebebeb;
}

.pagination__item {
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.91px;
  padding: 0 30px;
  opacity: 0.3;
}

.pagination__item:hover {
  opacity: 0.6;
}

.pagination__item:active {
  opacity: 1;
}

.pagination__list {
  display: flex;
}

.pagination__btn--back {
  margin-right: auto;
}

.pagination__btn--forward {
  margin-left: auto;
}

.pagination__btn {
  padding: 0 30px;
  height: 54px;
  display: flex;
  align-items: center;
}

.pagination__btn:hover {
  background: #d8d8d8;
}

.pagination__btn:active {
  background: #d8d8d8;
  opacity: 0.6;
}
